In [7]:
# 1
from datetime import time

t = time(14, 42, 5, 566)
print("Time =", t)
print("Hour =", t.hour)
print("Minute =", t.minute)
print("Second =", t.second)
print("Microsecond =", t.microsecond)

Time = 14:42:05.000566
Hour = 14
Minute = 42
Second = 5
Microsecond = 566

In [6]:
# 2
from datetime import datetime

dt = datetime(2019, 1, 28, 23, 55, 59, 1023)
print("Date and time =", dt)
print("Year =", dt.year)
print("Month =", dt.month)
print("Day =", dt.day)
print("Hour =", dt.hour)
print("Minute =", dt.minute)
print("Second =", dt.second)
print("Microsecond =", dt.microsecond)

Date and time = 2019-01-28 23:55:59.001023
Year = 2019
Month = 1
Day = 28
Hour = 23
Minute = 55
Second = 59
Microsecond = 1023

In [9]:
# 3
from datetime import date

today = date.today()

print("Today's date =", today)
print("Current year =", today.year)
print("Current month =", today.month)
print("Current day =", today.day)

Today's date = 2022-03-28
Current year = 2022
Current month = 3
Current day = 28

In [11]:
# 4
from datetime import datetime

day = datetime(2017, 1, 28)
day.strftime('%A')

'Saturday'

In [14]:
# 5
import pandas as pd

dr = pd.date_range(start='2008-01-01', end='2008-03-01')
df = pd.DataFrame()
df['Date'] = dr
df['Week_Day'] = pd.to_datetime(dr).weekday
df['Day_name'] = pd.to_datetime(dr).strftime("%A")
df['Month_name'] = pd.to_datetime(dr).strftime("%B")
df

         Date  Week_Day   Day_name Month_name
0  2008-01-01         1    Tuesday    January
1  2008-01-02         2  Wednesday    January
2  2008-01-03         3   Thursday    January
3  2008-01-04         4     Friday    January
4  2008-01-05         5   Saturday    January
..        ...       ...        ...        ...
56 2008-02-26         1    Tuesday   February
57 2008-02-27         2  Wednesday   February
58 2008-02-28         3   Thursday   February
59 2008-02-29         4     Friday   February
60 2008-03-01         5   Saturday      March

[61 rows x 4 columns]