#### **LSE Data Analytics Online Career Accelerator** 
#### Course 2: Data Analytics with Python

## Week 2: Getting started with Pandas demonstrations

The focus this week is on introducing, setting up, and exploring Pandas. You will use this notebook to follow along with the demonstrations throughout the week.

This is your notebook. Use it to follow along with the demonstrations, test ideas and explore what is possible. The hands-on experience of writing your own code will accelarate your learning!

## 2.1 Data ingestion with Pandas

### Series

In [ ]:
# import Pandas library
import pandas as pd

In [3]:
# create Pandas Series
colours = pd.Series(['green', 'red', 'yellow', 'blue', 'black', 'white'])

print(colours)

0     green
1       red
2    yellow
3      blue
4     black
5     white
dtype: object

In [5]:
# create a list
example_list = [1, 2, 3, 4, 5, 6]

# create series from a list
numbers = pd.Series(example_list)

print(numbers)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [10]:
# create dictionary
dict_1 = {'AU':'Australian Dollar',
         'US':'US Dollar',
         'IN':'Indian Rupee',
         'DK':'Danish Krone',
         'SW':'Swiss Franc'}

# create Series from dictionary
economics = pd.Series(dict_1)

print(economics)

AU    Australian Dollar
US            US Dollar
IN         Indian Rupee
DK         Danish Krone
SW          Swiss Franc
dtype: object

### DataFrame

In [13]:
#import Pandas
import pandas as pd

#create an empty DataFrame
df = pd.DataFrame()

print(df)

#create an empty Series
ser = pd.Series()

print(ser)

Empty DataFrame
Columns: []
Index: []
Series([], dtype: float64)

C:\Users\richa\AppData\Local\Temp/ipykernel_24940/1466245499.py:10: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [22]:
# create a dictionary
data = {'Name' : ['Thando', 'Divya', 'Simon', 'Peter'], 
       'Conutry' : ['South Africa', 'Singapore' , 'United Kingdom', 'Australia'], 
       'Qualification' : ['PhD', 'Diploma', 'MBA', 'BSc'], 
       'Age' : ['29', '20', '25', '23']}

# create a DataFrame from the dictionary
students = pd.DataFrame(data)

students

     Name         Conutry Qualification Age
0  Thando    South Africa           PhD  29
1   Divya       Singapore       Diploma  20
2   Simon  United Kingdom           MBA  25
3   Peter       Australia           BSc  23

### 1. Import NumPy and Pandas

In [1]:
# import packages with standard conventions
import numpy as np
import pandas as pd

### 2. Upload CSV file as shown in video

### 3. Read CSV file with Pandas

In [2]:
# read CSV file with Pandas
fitness = pd.read_csv('daily_activity.csv')

fitness

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [3]:
print(fitness.shape)
print(fitness.dtypes)

(940, 15)
Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [4]:
print(fitness.head(3))
print(fitness.tail(3))

           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97
2  1503960366    4/14/2016       10460           6.74             6.74

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
937  8877689391    5/10/2016       10733       8.150000         8.150000
938  8877689391    5/11/2016       21420      19.559999        19.559999
939  8877689391    5/12/2016        8064       6.120000         6.120000

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
937                       0.0                1.35                      0.46
938                       0.0               13.22                      0.41
939                       0.0                1.82                      0.04

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
937                 6.28                      0.0                 18
938                 5.89                      0.0                 88
939                 4.25                      0.0                 23

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
937                   11                   224              1187      2832
938                   12                   213              1127      3832
939                    1                   137               770      1849

In [5]:
print(fitness)

             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0    1503960366    4/12/2016       13162       8.500000         8.500000
1    1503960366    4/13/2016       10735       6.970000         6.970000
2    1503960366    4/14/2016       10460       6.740000         6.740000
3    1503960366    4/15/2016        9762       6.280000         6.280000
4    1503960366    4/16/2016       12669       8.160000         8.160000
..          ...          ...         ...            ...              ...
935  8877689391     5/8/2016       10686       8.110000         8.110000
936  8877689391     5/9/2016       20226      18.250000        18.250000
937  8877689391    5/10/2016       10733       8.150000         8.150000
938  8877689391    5/11/2016       21420      19.559999        19.559999
939  8877689391    5/12/2016        8064       6.120000         6.120000

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                         0.0                1.88                      0.55
1                         0.0                1.57                      0.69
2                         0.0                2.44                      0.40
3                         0.0                2.14                      1.26
4                         0.0                2.71                      0.41
..                        ...                 ...                       ...
935                       0.0                1.08                      0.20
936                       0.0               11.10                      0.80
937                       0.0                1.35                      0.46
938                       0.0               13.22                      0.41
939                       0.0                1.82                      0.04

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                   6.06                     0.00                 25
1                   4.71                     0.00                 21
2                   3.91                     0.00                 30
3                   2.83                     0.00                 29
4                   5.04                     0.00                 36
..                   ...                      ...                ...
935                 6.80                     0.00                 17
936                 6.24                     0.05                 73
937                 6.28                     0.00                 18
938                 5.89                     0.00                 88
939                 4.25                     0.00                 23

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                     13                   328               728      1985
1                     19                   217               776      1797
2                     11                   181              1218      1776
3                     34                   209               726      1745
4                     10                   221               773      1863
..                   ...                   ...               ...       ...
935                    4                   245              1174      2847
936                   19                   217              1131      3710
937                   11                   224              1187      2832
938                   12                   213              1127      3832
939                    1                   137               770      1849

[940 rows x 15 columns]

In [6]:
#import Pandas and tabulate
import pandas as pd
import tabulate
from tabulate import tabulate

# displaying the DataFrame in plsql format
tabulate(fitness, headers = 'keys', tablefmt = 'psql')

'+-----+------------+----------------+--------------+-----------------+-------------------+----------------------------+----------------------+----------------------------+-----------------------+---------------------------+---------------------+-----------------------+------------------------+--------------------+------------+\n|     |         Id | ActivityDate   |   TotalSteps |   TotalDistance |   TrackerDistance |   LoggedActivitiesDistance |   VeryActiveDistance |   ModeratelyActiveDistance |   LightActiveDistance |   SedentaryActiveDistance |   VeryActiveMinutes |   FairlyActiveMinutes |   LightlyActiveMinutes |   SedentaryMinutes |   Calories |\n|-----+------------+----------------+--------------+-----------------+-------------------+----------------------------+----------------------+----------------------------+-----------------------+---------------------------+---------------------+-----------------------+------------------------+--------------------+------------|\n|   0 | 1503960366 | 4/12/2016      |        13162 |            8.5  |              8.5  |                    0       |                 1.88 |                       0.55 |                  6.06 |                      0    |                  25 |                    13 |                    328 |                728 |       1985 |\n|   1 | 1503960366 | 4/13/2016      |        10735 |            6.97 |              6.97 |                    0       |                 1.57 |                       0.69 |                  4.71 |                      0    |                  21 |                    19 |                    217 |                776 |       1797 |\n|   2 | 1503960366 | 4/14/2016      |        10460 |            6.74 |              6.74 |                    0       |                 2.44 |                       0.4  |                  3.91 |                      0    |                  30 |                    11 |                    181 |               1218 |       1776 |\n|   3 | 1503960366 | 4/15/2016      |         9762 |            6.28 |              6.28 |                    0       |                 2.14 |                       1.26 |                  2.83 |                      0    |                  29 |                    34 |                    209 |                726 |       1745 |\n|   4 | 1503960366 | 4/16/2016      |        12669 |            8.16 |              8.16 |                    0       |                 2.71 |                       0.41 |                  5.04 |                      0    |                  36 |                    10 |                    221 |                773 |       1863 |\n|   5 | 1503960366 | 4/17/2016      |         9705 |            6.48 |              6.48 |                    0       |                 3.19 |                       0.78 |                  2.51 |                      0    |                  38 |                    20 |                    164 |                539 |       1728 |\n|   6 | 1503960366 | 4/18/2016      |        13019 |            8.59 |              8.59 |                    0       |                 3.25 |                       0.64 |                  4.71 |                      0    |                  42 |                    16 |                    233 |               1149 |       1921 |\n|   7 | 1503960366 | 4/19/2016      |        15506 |            9.88 |              9.88 |                    0       |                 3.53 |                       1.32 |                  5.03 |                      0    |                  50 |                    31 |                    264 |                775 |       2035 |\n|   8 | 1503960366 | 4/20/2016      |        10544 |            6.68 |              6.68 |                    0       |                 1.96 |                       0.48 |                  4.24 |                      0    |                  28 |                    12 |                    205 |                818 |       1786 |\n|   9 | 1503960366 | 4/21/2016      |         9819 |            6.34 |              6.34 |                    0       |                 1.34 |                       0.35 |                  4.65 |                      0    |                  19 |                     8 |                    211 |                838 |       1775 |\n|  10 | 1503960366 | 4/22/2016      |        12764 |            8.13 |              8.13 |                    0       |                 4.76 |                       1.12 |                  2.24 |                      0    |                  66 |                    27 |                    130 |               1217 |       1827 |\n|  11 | 1503960366 | 4/23/2016      |        14371 |            9.04 |              9.04 |                    0       |                 2.81 |                       0.87 |                  5.36 |                      0    |                  41 |                    21 |                    262 |                732 |       1949 |\n|  12 | 1503960366 | 4/24/2016      |        10039 |            6.41 |              6.41 |                    0       |                 2.92 |                       0.21 |                  3.28 |                      0    |                  39 |                     5 |                    238 |                709 |       1788 |\n|  13 | 1503960366 | 4/25/2016      |        15355 |            9.8  |              9.8  |                    0       |                 5.29 |                       0.57 |                  3.94 |                      0    |                  73 |                    14 |                    216 |                814 |       2013 |\n|  14 | 1503960366 | 4/26/2016      |        13755 |            8.79 |              8.79 |                    0       |                 2.33 |                       0.92 |                  5.54 |                      0    |                  31 |                    23 |                    279 |                833 |       1970 |\n|  15 | 1503960366 | 4/27/2016      |        18134 |           12.21 |             12.21 |                    0       |                 6.4  |                       0.41 |                  5.41 |                      0    |                  78 |                    11 |                    243 |               1108 |       2159 |\n|  16 | 1503960366 | 4/28/2016      |        13154 |            8.53 |              8.53 |                    0       |                 3.54 |                       1.16 |                  3.79 |                      0    |                  48 |                    28 |                    189 |                782 |       1898 |\n|  17 | 1503960366 | 4/29/2016      |        11181 |            7.15 |              7.15 |                    0       |                 1.06 |                       0.5  |                  5.58 |                      0    |                  16 |                    12 |                    243 |                815 |       1837 |\n|  18 | 1503960366 | 4/30/2016      |        14673 |            9.25 |              9.25 |                    0       |                 3.56 |                       1.42 |                  4.27 |                      0    |                  52 |                    34 |                    217 |                712 |       1947 |\n|  19 | 1503960366 | 5/1/2016       |        10602 |            6.81 |              6.81 |                    0       |                 2.29 |                       1.6  |                  2.92 |                      0    |                  33 |                    35 |                    246 |                730 |       1820 |\n|  20 | 1503960366 | 5/2/2016       |        14727 |            9.71 |              9.71 |                    0       |                 3.21 |                       0.57 |                  5.92 |                      0    |                  41 |                    15 |                    277 |                798 |       2004 |\n|  21 | 1503960366 | 5/3/2016       |        15103 |            9.66 |              9.66 |                    0       |                 3.73 |                       1.05 |                  4.88 |                      0    |                  50 |                    24 |                    254 |                816 |       1990 |\n|  22 | 1503960366 | 5/4/2016       |        11100 |            7.15 |              7.15 |                    0       |                 2.46 |                       0.87 |                  3.82 |                      0    |                  36 |                    22 |                    203 |               1179 |       1819 |\n|  23 | 1503960366 | 5/5/2016       |        14070 |            8.9  |              8.9  |                    0       |                 2.92 |                       1.08 |                  4.88 |                      0    |                  45 |                    24 |                    250 |                857 |       1959 |\n|  24 | 1503960366 | 5/6/2016       |        12159 |            8.03 |              8.03 |                    0       |                 1.97 |                       0.25 |                  5.81 |                      0    |                  24 |                     6 |                    289 |                754 |       1896 |\n|  25 | 1503960366 | 5/7/2016       |        11992 |            7.71 |              7.71 |                    0       |                 2.46 |                       2.12 |                  3.13 |                      0    |                  37 |                    46 |                    175 |                833 |       1821 |\n|  26 | 1503960366 | 5/8/2016       |        10060 |            6.58 |              6.58 |                    0       |                 3.53 |                       0.32 |                  2.73 |                      0    |                  44 |                     8 |                    203 |                574 |       1740 |\n|  27 | 1503960366 | 5/9/2016       |        12022 |            7.72 |              7.72 |                    0       |                 3.45 |                       0.53 |                  3.74 |                      0    |                  46 |                    11 |                    206 |                835 |       1819 |\n|  28 | 1503960366 | 5/10/2016      |        12207 |            7.77 |              7.77 |                    0       |                 3.35 |                       1.16 |                  3.26 |                      0    |                  46 |                    31 |                    214 |                746 |       1859 |\n|  29 | 1503960366 | 5/11/2016      |        12770 |            8.13 |              8.13 |                    0       |                 2.56 |                       1.01 |                  4.55 |                      0    |                  36 |                    23 |                    251 |                669 |       1783 |\n|  30 | 1503960366 | 5/12/2016      |            0 |            0    |              0    |                    0       |                 0    |                       0    |                  0    |                      0    |                   0 |                     0 |                      0 |               1440 |          0 |\n|  31 | 1624580081 | 4/12/2016      |         8163 |            5.31 |              5.31 |                    0       |                 0    |                       0    |                  5.31 |                      0    |                   0 |                     0 |                    146 |               1294 |       1432 |\n|  32 | 1624580081 | 4/13/2016      |         7007 |            4.55 |              4.55 |                    0       |                 0    |                       0    |                  4.55 |                      0    |                   0 |                     0 |                    148 |               1292 |       1411 |\n|  33 | 1624580081 | 4/14/2016      |         9107 |            5.92 |              5.92 |                    0       |                 0    |                       0    |                  5.91 |                      0.01 |                   0 |                     0 |                    236 |               1204 |       1572 |\n|  34 | 1624580081 | 4/15/2016      |         1510 |            0.98 |              0.98 |                    0       |                 0    |                       0    |                  0.97 |                      0    |                   0 |                     0 |                     96 |               1344 |       1344 |\n|  35 | 1624580081 | 4/16/2016      |         5370 |            3.49 |              3.49 |                    0       |                 0    |                       0    |                  3.49 |                      0    |                   0 |                     0 |                    176 |               1264 |       1463 |\n|  36 | 1624580081 | 4/17/2016      |         6175 |            4.06 |              4.06 |                    0       |                 1.03 |                       1.52 |                  1.49 |                      0.01 |                  15 |                    22 |                    127 |               1276 |       1554 |\n|  37 | 1624580081 | 4/18/2016      |        10536 |            7.41 |              7.41 |                    0       |                 2.15 |                       0.62 |                  4.62 |                      0.01 |                  17 |                     7 |                    202 |               1214 |       1604 |\n|  38 | 1624580081 | 4/19/2016      |         2916 |            1.9  |              1.9  |                    0       |                 0    |                       0    |                  1.9  |                      0    |                   0 |                     0 |                    141 |               1299 |       1435 |\n|  39 | 1624580081 | 4/20/2016      |         4974 |            3.23 |              3.23 |                    0       |                 0    |                       0    |                  3.23 |                      0    |                   0 |                     0 |                    151 |               1289 |       1446 |\n|  40 | 1624580081 | 4/21/2016      |         6349 |            4.13 |              4.13 |                    0       |                 0    |                       0    |                  4.11 |                      0.02 |                   0 |                     0 |                    186 |               1254 |       1467 |\n|  41 | 1624580081 | 4/22/2016      |         4026 |            2.62 |              2.62 |                    0       |                 0    |                       0    |                  2.6  |                      0    |                   0 |                     0 |                    199 |               1241 |       1470 |\n|  42 | 1624580081 | 4/23/2016      |         8538 |            5.55 |              5.55 |                    0       |                 0    |                       0    |                  5.54 |                      0.01 |                   0 |                     0 |                    227 |               1213 |       1562 |\n|  43 | 1624580081 | 4/24/2016      |         6076 |            3.95 |              3.95 |                    0       |                 1.15 |                       0.91 |                  1.89 |                      0    |                  16 |                    18 |                    185 |               1221 |       1617 |\n|  44 | 1624580081 | 4/25/2016      |         6497 |            4.22 |              4.22 |                    0       |                 0    |                       0    |                  4.2  |                      0.02 |                   0 |                     0 |                    202 |               1238 |       1492 |\n|  45 | 1624580081 | 4/26/2016      |         2826 |            1.84 |              1.84 |                    0       |                 0    |                       0    |                  1.83 |                      0.01 |                   0 |                     0 |                    140 |               1300 |       1402 |\n|  46 | 1624580081 | 4/27/2016      |         8367 |            5.44 |              5.44 |                    0       |                 1.11 |                       1.87 |                  2.46 |                      0    |                  17 |                    36 |                    154 |               1233 |       1670 |\n|  47 | 1624580081 | 4/28/2016      |         2759 |            1.79 |              1.79 |                    0       |                 0    |                       0.2  |                  1.6  |                      0    |                   0 |                     5 |                    115 |               1320 |       1401 |\n|  48 | 1624580081 | 4/29/2016      |         2390 |            1.55 |              1.55 |                    0       |                 0    |                       0    |                  1.55 |                      0    |                   0 |                     0 |                    150 |               1290 |       1404 |\n|  49 | 1624580081 | 4/30/2016      |         6474 |            4.3  |              4.3  |                    0       |                 0.9  |                       1.28 |                  2.12 |                      0.01 |                  11 |                    23 |                    224 |               1182 |       1655 |\n|  50 | 1624580081 | 5/1/2016       |        36019 |           28.03 |             28.03 |                    0       |                21.92 |                       4.19 |                  1.91 |                      0.02 |                 186 |                    63 |                    171 |               1020 |       2690 |\n|  51 | 1624580081 | 5/2/2016       |         7155 |            4.93 |              4.93 |                    0       |                 0.86 |                       0.59 |                  3.47 |                      0    |                   7 |                     6 |                    166 |               1261 |       1497 |\n|  52 | 1624580081 | 5/3/2016       |         2100 |            1.37 |              1.37 |                    0       |                 0    |                       0    |                  1.34 |                      0.02 |                   0 |                     0 |                     96 |               1344 |       1334 |\n|  53 | 1624580081 | 5/4/2016       |         2193 |            1.43 |              1.43 |                    0       |                 0    |                       0    |                  1.42 |                      0    |                   0 |                     0 |                    118 |               1322 |       1368 |\n|  54 | 1624580081 | 5/5/2016       |         2470 |            1.61 |              1.61 |                    0       |                 0    |                       0    |                  1.58 |                      0.02 |                   0 |                     0 |                    117 |               1323 |       1370 |\n|  55 | 1624580081 | 5/6/2016       |         1727 |            1.12 |              1.12 |                    0       |                 0    |                       0    |                  1.12 |                      0.01 |                   0 |                     0 |                    102 |               1338 |       1341 |\n|  56 | 1624580081 | 5/7/2016       |         2104 |            1.37 |              1.37 |                    0       |                 0    |                       0    |                  1.37 |                      0    |                   0 |                     0 |                    182 |               1258 |       1474 |\n|  57 | 1624580081 | 5/8/2016       |         3427 |            2.23 |              2.23 |                    0       |                 0    |                       0    |                  2.22 |    

In [7]:
fitness.index.names = ['Observation']

fitness

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Observation,,,,,,,,,,,,,,,
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [8]:
fitness.index.names = ['Repetitions']

fitness

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Repetitions,,,,,,,,,,,,,,,
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [9]:
# create a hierarchical index
col_names2=['I1', 'I2', 'c', 'd', 'e', 'f', 'g',
            'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']
fitness = pd.read_csv("daily_activity.csv", names=col_names2,
index_col=['I1', 'I2'])

fitness

                                  c                 d                 e  \
I1         I2
Id         ActivityDate  TotalSteps     TotalDistance   TrackerDistance
1503960366 4/12/2016          13162               8.5               8.5
           4/13/2016          10735  6.96999979019165  6.96999979019165
           4/14/2016          10460  6.73999977111816  6.73999977111816
           4/15/2016           9762  6.28000020980835  6.28000020980835
...                             ...               ...               ...
8877689391 5/8/2016           10686  8.10999965667725  8.10999965667725
           5/9/2016           20226             18.25             18.25
           5/10/2016          10733  8.14999961853027  8.14999961853027
           5/11/2016          21420  19.5599994659424  19.5599994659424
           5/12/2016           8064  6.11999988555908  6.11999988555908

                                                f                   g  \
I1         I2
Id         ActivityDate  LoggedActivitiesDistance  VeryActiveDistance
1503960366 4/12/2016                            0    1.87999999523163
           4/13/2016                            0    1.57000005245209
           4/14/2016                            0    2.44000005722046
           4/15/2016                            0    2.14000010490417
...                                           ...                 ...
8877689391 5/8/2016                             0    1.08000004291534
           5/9/2016                             0    11.1000003814697
           5/10/2016                            0    1.35000002384186
           5/11/2016                            0    13.2200002670288
           5/12/2016                            0    1.82000005245209

                                                h                    i  \
I1         I2
Id         ActivityDate  ModeratelyActiveDistance  LightActiveDistance
1503960366 4/12/2016            0.550000011920929     6.05999994277954
           4/13/2016            0.689999997615814     4.71000003814697
           4/14/2016            0.400000005960464     3.91000008583069
           4/15/2016             1.25999999046326     2.82999992370605
...                                           ...                  ...
8877689391 5/8/2016             0.200000002980232     6.80000019073486
           5/9/2016             0.800000011920929     6.23999977111816
           5/10/2016             0.46000000834465     6.28000020980835
           5/11/2016            0.409999996423721      5.8899998664856
           5/12/2016           0.0399999991059303                 4.25

                                               j                  k  \
I1         I2
Id         ActivityDate  SedentaryActiveDistance  VeryActiveMinutes
1503960366 4/12/2016                           0                 25
           4/13/2016                           0                 21
           4/14/2016                           0                 30
           4/15/2016                           0                 29
...                                          ...                ...
8877689391 5/8/2016                            0                 17
           5/9/2016           0.0500000007450581                 73
           5/10/2016                           0                 18
           5/11/2016                           0                 88
           5/12/2016                           0                 23

                                           l                     m  \
I1         I2
Id         ActivityDate  FairlyActiveMinutes  LightlyActiveMinutes
1503960366 4/12/2016                      13                   328
           4/13/2016                      19                   217
           4/14/2016                      11                   181
           4/15/2016                      34                   209
...                                      ...                   ...
8877689391 5/8/2016                        4                   245
           5/9/2016                       19                   217
           5/10/2016                      11                   224
           5/11/2016                      12                   213
           5/12/2016                       1                   137

                                        n         o
I1         I2
Id         ActivityDate  SedentaryMinutes  Calories
1503960366 4/12/2016                  728      1985
           4/13/2016                  776      1797
           4/14/2016                 1218      1776
           4/15/2016                  726      1745
...                                   ...       ...
8877689391 5/8/2016                  1174      2847
           5/9/2016                  1131      3710
           5/10/2016                 1187      2832
           5/11/2016                 1127      3832
           5/12/2016                  770      1849

[941 rows x 13 columns]

In [10]:
# skip rows
fitness = pd.read_csv("daily_activity.csv", skiprows = [0, 1, 2, 5, 10])

fitness

,1503960366,4/14/2016,10460,6.73999977111816,6.73999977111816.1,0,2.44000005722046,0.400000005960464,3.91000008583069,0.1,30,11,181,1218,1776
0,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
1,1503960366,4/17/2016,9705,6.480000,6.480000,0.0,3.19,0.78,2.51,0.00,38,20,164,539,1728
2,1503960366,4/18/2016,13019,8.590000,8.590000,0.0,3.25,0.64,4.71,0.00,42,16,233,1149,1921
3,1503960366,4/19/2016,15506,9.880000,9.880000,0.0,3.53,1.32,5.03,0.00,50,31,264,775,2035
4,1503960366,4/20/2016,10544,6.680000,6.680000,0.0,1.96,0.48,4.24,0.00,28,12,205,818,1786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
931,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
932,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
933,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
934,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

xxx.info(): gives you basic info of the DataFrame
xxx.describe(): gives you numeric info of the DataFrame
xxx.*column name*.hist(): gives you a histrogram
or xxx["xxx"].hist()
xxx.*column name*.plot(): gives you a scatter plot
or xxx["xxx"].plot()

np.arange(1,10): use Numpy to create array from 1 to 9

xxx.__version__: check the version of a function(library)

xxx.shape: to get the total columns and rows of the data

#

## 2.2 Pandas built-in functions

### Subsetting data

In [3]:
#import package
import pandas as pd

#import CSV file
fitness = pd.read_csv("daily_activity.csv")

fitness

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [4]:
# use the head() function to subset data set
fitness.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

### usecols() parameter

In [5]:
# option 1
my_list = fitness.columns.values.tolist()

print(my_list)

['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance', 'LoggedActivitiesDistance', 'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance', 'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes', 'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories']

In [6]:
# option 2
my_list = list(fitness)

my_list

['Id',
 'ActivityDate',
 'TotalSteps',
 'TotalDistance',
 'TrackerDistance',
 'LoggedActivitiesDistance',
 'VeryActiveDistance',
 'ModeratelyActiveDistance',
 'LightActiveDistance',
 'SedentaryActiveDistance',
 'VeryActiveMinutes',
 'FairlyActiveMinutes',
 'LightlyActiveMinutes',
 'SedentaryMinutes',
 'Calories']

In [8]:
# selecting few columns
fitness_fcol = pd.read_csv("daily_activity.csv", 
                          usecols = ['Id', 'ActivityDate', 'TotalSteps'])

fitness_fcol.head()

           Id ActivityDate  TotalSteps
0  1503960366    4/12/2016       13162
1  1503960366    4/13/2016       10735
2  1503960366    4/14/2016       10460
3  1503960366    4/15/2016        9762
4  1503960366    4/16/2016       12669

### nrows() parameter

In [11]:
# only return the first 10 rows
fitness_nrows = pd.read_csv("daily_activity.csv", nrows = 10)

fitness_nrows

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0,1.88,0.55,6.06,0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0,1.57,0.69,4.71,0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0,2.44,0.40,3.91,0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0,2.14,1.26,2.83,0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0,2.71,0.41,5.04,0,36,10,221,773,1863
5,1503960366,4/17/2016,9705,6.48,6.48,0,3.19,0.78,2.51,0,38,20,164,539,1728
6,1503960366,4/18/2016,13019,8.59,8.59,0,3.25,0.64,4.71,0,42,16,233,1149,1921
7,1503960366,4/19/2016,15506,9.88,9.88,0,3.53,1.32,5.03,0,50,31,264,775,2035
8,1503960366,4/20/2016,10544,6.68,6.68,0,1.96,0.48,4.24,0,28,12,205,818,1786
9,1503960366,4/21/2016,9819,6.34,6.34,0,1.34,0.35,4.65,0,19,8,211,838,1775

### skiprows() parameter

In [12]:
# shape of data frame
print(fitness.shape)

# skiprows parameter
fitness_skiprows = pd.read_csv("daily_activity.csv", skiprows = 500)

print(fitness_skiprows.shape)

(940, 15)
(440, 15)

### skipfooter() parameter

In [ ]:
# only for demonstration
# xxx = pd.read_csv(filename, skipfooter=1)

# xxx

In [14]:
q2 = pd.read_csv("daily_activity.csv", 
                 usecols = ["VeryActiveDistance",
                            "ModeratelyActiveDistance", "LightActiveDistance", 
                            "SedentaryActiveDistance", 
                            "VeryActiveMinutes", 
                            "FairlyActiveMinutes", 
                            "LightlyActiveMinutes", 
                            "SedentaryMinutes"])

q2.head()

,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes
0,1.88,0.55,6.06,0.0,25,13,328,728
1,1.57,0.69,4.71,0.0,21,19,217,776
2,2.44,0.40,3.91,0.0,30,11,181,1218
3,2.14,1.26,2.83,0.0,29,34,209,726
4,2.71,0.41,5.04,0.0,36,10,221,773

In [17]:
q3 = pd.read_csv("daily_activity.csv",
                 nrows = 15,
                 usecols = ["Id", "Calories"])
                 
q3

            Id  Calories
0   1503960366      1985
1   1503960366      1797
2   1503960366      1776
3   1503960366      1745
4   1503960366      1863
5   1503960366      1728
6   1503960366      1921
7   1503960366      2035
8   1503960366      1786
9   1503960366      1775
10  1503960366      1827
11  1503960366      1949
12  1503960366      1788
13  1503960366      2013
14  1503960366      1970

### Add new columns to an existing DataFrame

In [1]:
# import packages
import pandas as pd

# create dataframe for dr veldtman
data = {'Name' : ['Thiago', 'Divya', 'Simon', 'Peter'],
       'Country' : ['South Africa', 'Singapore', 'United Kingdom', 'Australia'],
       'Qualification' : ['Phd', 'Diploma', 'BSc', 'MBA'],
       'Age' : [29, 20, 25, 23]}

students = pd.DataFrame(data)

students

     Name         Country Qualification  Age
0  Thiago    South Africa           Phd   29
1   Divya       Singapore       Diploma   20
2   Simon  United Kingdom           BSc   25
3   Peter       Australia           MBA   23

In [2]:
# re-order the columns
students = pd.DataFrame(data, columns = ['Name', 'Age', 'Qualification', 'Country'])

students

     Name  Age Qualification         Country
0  Thiago   29           Phd    South Africa
1   Divya   20       Diploma       Singapore
2   Simon   25           BSc  United Kingdom
3   Peter   23           MBA       Australia

In [3]:
# add a column (Final mark)
students = pd.DataFrame (data, columns=['Name', 'Age', 'Qualification',
                                        'Country', 'Final mark'])
students

     Name  Age Qualification         Country Final mark
0  Thiago   29           Phd    South Africa        NaN
1   Divya   20       Diploma       Singapore        NaN
2   Simon   25           BSc  United Kingdom        NaN
3   Peter   23           MBA       Australia        NaN

In [4]:
# add a columns (Test 1, Tutorial 1, Test 2, Tutorial 2, Test 3, Tutorial 3)
students = pd.DataFrame (data, columns=['Name', 'Age', 'Qualification',
                                        'Country', 'Test 1', 'Tutorial 1', 
                                        'Test 2', 'Tutorial 2', 'Test 3', 
                                        'Tutorial 3', 'Final mark'])

students

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,Test 3,Tutorial 3,Final mark
0,Thiago,29,Phd,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Divya,20,Diploma,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Simon,25,BSc,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Peter,23,MBA,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Add new rows to an existing DataFrame

In [11]:
# create new DataFrame with new data
raw_data = {'Name' : ['Noncedo', 'David', 'Eugene', 'Amaira', 'Monica', 'Richard'],
           'Age' : [22, 23, 25, 24, 26, 22],
            'Qualification' : ['Diploma', 'BCom', 'Diploma', 'MCom', 'Phd', 'BCom'],
           'Country' : ['Lesotho', 'United Kingdom', 'Australia', 'India', 
                        'Poland', 'Germany']}

students_2 = pd.DataFrame(raw_data)

students_2

      Name  Age Qualification         Country
0  Noncedo   22       Diploma         Lesotho
1    David   23          BCom  United Kingdom
2   Eugene   25       Diploma       Australia
3   Amaira   24          MCom           India
4   Monica   26           Phd          Poland
5  Richard   22          BCom         Germany

In [12]:
# add rows with append()
students_final = students.append(students_2, ignore_index = True)

students_final

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,Test 3,Tutorial 3,Final mark
0,Thiago,29,Phd,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Divya,20,Diploma,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Simon,25,BSc,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Peter,23,MBA,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Noncedo,22,Diploma,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,David,23,BCom,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Eugene,25,Diploma,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Amaira,24,MCom,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Monica,26,Phd,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Richard,22,BCom,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# add rows with concat
students_concat = pd.concat([students, students_2], ignore_index = True)

students_concat

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,Test 3,Tutorial 3,Final mark
0,Thiago,29,Phd,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Divya,20,Diploma,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Simon,25,BSc,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Peter,23,MBA,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Noncedo,22,Diploma,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,David,23,BCom,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Eugene,25,Diploma,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Amaira,24,MCom,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Monica,26,Phd,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Richard,22,BCom,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Practice

In [14]:
# prepare your workstation
import pandas as pd

fitness = pd.read_csv('daily_activity.csv')

# column names of data set
my_list = fitness.columns.values.tolist()

my_list

['Id',
 'ActivityDate',
 'TotalSteps',
 'TotalDistance',
 'TrackerDistance',
 'LoggedActivitiesDistance',
 'VeryActiveDistance',
 'ModeratelyActiveDistance',
 'LightActiveDistance',
 'SedentaryActiveDistance',
 'VeryActiveMinutes',
 'FairlyActiveMinutes',
 'LightlyActiveMinutes',
 'SedentaryMinutes',
 'Calories']

In [15]:
# add column cal_cat to calculate the middle number of calories
fitness['cal_cat'] = fitness['Calories'] - fitness['Calories'].mean()

# sense-check values of cal_cat column
print(fitness['cal_cat'])

# print to sense-check column was added
print(fitness.head())

0      -318.609574
1      -506.609574
2      -527.609574
3      -558.609574
4      -440.609574
          ...
935     543.390426
936    1406.390426
937     528.390426
938    1528.390426
939    -454.609574
Name: cal_cat, Length: 940, dtype: float64
           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97
2  1503960366    4/14/2016       10460           6.74             6.74
3  1503960366    4/15/2016        9762           6.28             6.28
4  1503960366    4/16/2016       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories  \
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863

      cal_cat
0 -318.609574
1 -506.609574
2 -527.609574
3 -558.609574
4 -440.609574

In [16]:
# sort column from low to high to determine 
print(fitness['cal_cat'].sort_values())

# determine min value (statistical method)
print(fitness['cal_cat'].min())

30    -2303.609574
879   -2303.609574
817   -2303.609574
653   -2303.609574
345   -2251.609574
          ...
585    2197.390426
586    2242.390426
913    2243.390426
572    2248.390426
606    2596.390426
Name: cal_cat, Length: 940, dtype: float64
-2303.609574468085

In [17]:
# determine max value (statistical method)
print(fitness['cal_cat'].max())

2596.390425531915

In [18]:
# how many individuals per calory group (aggregate function to count the numbers)
fitness['cal_cat'].value_counts()

-323.609574     13
-240.609574     11
-462.609574      9
-615.609574      9
-956.609574      8
                ..
-2251.609574     1
 1350.390426     1
-322.609574      1
-292.609574      1
-454.609574      1
Name: cal_cat, Length: 734, dtype: int64

In [19]:
# determine the descriptive statistics of the data set
fitness.describe()

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,cal_cat
count,9.400000e+02,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,9.400000e+02
mean,4.855407e+09,7637.910638,5.489702,5.475351,0.108171,1.502681,0.567543,3.340819,0.001606,21.164894,13.564894,192.812766,991.210638,2303.609574,3.731831e-12
std,2.424805e+09,5087.150742,3.924606,3.907276,0.619897,2.658941,0.883580,2.040655,0.007346,32.844803,19.987404,109.174700,301.267437,718.166862,7.181669e+02
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.303610e+03
25%,2.320127e+09,3789.750000,2.620000,2.620000,0.000000,0.000000,0.000000,1.945000,0.000000,0.000000,0.000000,127.000000,729.750000,1828.500000,-4.751096e+02
50%,4.445115e+09,7405.500000,5.245000,5.245000,0.000000,0.210000,0.240000,3.365000,0.000000,4.000000,6.000000,199.000000,1057.500000,2134.000000,-1.696096e+02
75%,6.962181e+09,10727.000000,7.712500,7.710000,0.000000,2.052500,0.800000,4.782500,0.000000,32.000000,19.000000,264.000000,1229.500000,2793.250000,4.896404e+02
max,8.877689e+09,36019.000000,28.030001,28.030001,4.942142,21.920000,6.480000,10.710000,0.110000,210.000000,143.000000,518.000000,1440.000000,4900.000000,2.596390e+03

### Missing data

In [1]:
#import package
import pandas as pd

# read CSV file from the current working directory
fitness = pd.read_csv("daily_activity.csv")

fitness.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [2]:
# check for missing values
fitness_na = fitness[fitness.isna().any(axis = 1)]

fitness_na.shape

(0, 15)

In [4]:
# read CSV file from the current working directory
fitness_raw = pd.read_csv("daily_activity_raw.csv")

fitness_raw.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,04/12/2016,13162.0,8.500000,8.500000,NaN,1.880000,0.551193,6.599999,NaN,25.0,13.0,328.0,728.0,1985.0
1,1503960366,4/13/2016,1735.0,6.970000,6.970000,NaN,1.575245,0.690000,4.713815,NaN,21.0,19.0,217.0,776.0,1797.0
2,1503960366,4/14/2016,146.0,6.740000,6.740000,NaN,2.445722,0.459646,3.918584,NaN,3.0,11.0,181.0,1218.0,1776.0
3,1503960366,4/15/2016,9762.0,6.282988,6.282988,NaN,2.141494,1.260000,2.830000,NaN,29.0,34.0,29.0,726.0,1745.0
4,1503960366,4/16/2016,12669.0,8.160000,8.160000,NaN,2.713815,0.500000,5.400000,NaN,36.0,1.0,221.0,773.0,1863.0

In [5]:
# check for missing values
fitness_raw_na = fitness[fitness_raw.isna().any(axis = 1)]

fitness_raw_na.shape

(937, 15)

### Replacing missing data

#### Replace missing values with mean

In [6]:
# number of missing values
fitness_raw['TotalSteps'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
935    False
936    False
937    False
938    False
939    False
Name: TotalSteps, Length: 940, dtype: bool

In [7]:
# sum of missing values
fitness_raw['TotalSteps'].isnull().sum()

77

In [8]:
# replacing missing values with mean for TotalSteps
fitness_raw['TotalSteps'].fillna(fitness_raw['TotalSteps'].mean(), inplace = True)

fitness_raw['TotalSteps'].isnull().sum()

0

In [9]:
fitness_raw['TotalDistance'].isnull().sum()

78

In [10]:
fitness_raw['TotalDistance'].fillna(fitness_raw['TotalDistance'].mean(), inplace = True)

fitness_raw['TotalDistance'].isnull().sum()

0

#### Replace missing values with 0

In [11]:
# sum of missing values
fitness_raw['TrackerDistance'].isnull().sum()

78

In [12]:
# replace the missing values with 0
fitness_raw['TrackerDistance'].fillna(0, inplace = True)

# sum of the missing values
fitness_raw['TrackerDistance'].isnull().sum()

0

In [15]:
fitness_raw['LoggedActivitiesDistance'].isnull().sum()

908

In [16]:
fitness_raw['LoggedActivitiesDistance'].fillna(0, inplace = True)

fitness_raw['LoggedActivitiesDistance'].isnull().sum()

0

#### Replace missing values with forward fill

In [17]:
# sum of missing values
fitness_raw['VeryActiveDistance'].isnull().sum()

413

In [18]:
# replace missing values with forward fill
fitness_raw['VeryActiveDistance'] = fitness_raw['VeryActiveDistance'].fillna(method = 'ffill')

# sum of missing values
fitness_raw['VeryActiveDistance'].isnull().sum()

0

In [19]:
# replace missing values with forward fill
fitness_raw['ModeratelyActiveDistance'] = fitness_raw['ModeratelyActiveDistance'].fillna(method = 'ffill')

# sum of missing values
fitness_raw['ModeratelyActiveDistance'].isnull().sum()

0

#### Replace missing values with backward fill

In [20]:
# sum of missing values
fitness_raw['LightActiveDistance'].isnull().sum()

85

In [21]:
# replace missing values with backward fill
fitness_raw['LightActiveDistance'] = fitness_raw['LightActiveDistance'].fillna(method = 'bfill')

# sum of missing values
fitness_raw['LightActiveDistance'].isnull().sum()

0

In [24]:
# replace missing values with backward fill
fitness_raw['SedentaryActiveDistance'] = fitness_raw['SedentaryActiveDistance'].fillna(method = 'ffill')

# sum of missing values
fitness_raw['SedentaryActiveDistance'].isnull().sum()

0

#### Replace missing values with the minimum value

In [25]:
# sum of missing values
fitness_raw['VeryActiveMinutes'].isnull().sum()

409

In [26]:
# replace all the missing values with min
fitness_raw['VeryActiveMinutes'].fillna(fitness_raw['VeryActiveMinutes'].min(), 
                                       inplace = True)

# sum of missing values
fitness_raw['VeryActiveMinutes'].isnull().sum()

0

In [27]:
# replace all the missing values with min
fitness_raw['FairlyActiveMinutes'].fillna(fitness_raw['FairlyActiveMinutes'].min(), 
                                       inplace = True)

# sum of missing values
fitness_raw['FairlyActiveMinutes'].isnull().sum()

0

#### Replace missing values with the maximum value

In [28]:
# sum of missing values
fitness_raw['LightlyActiveMinutes'].isnull().sum()

84

In [29]:
# replace all the missing values with min
fitness_raw['LightlyActiveMinutes'].fillna(fitness_raw['LightlyActiveMinutes'].max(), 
                                       inplace = True)

# sum of missing values
fitness_raw['LightlyActiveMinutes'].isnull().sum()

0

In [31]:
# sum of missing values
fitness_raw['SedentaryMinutes'].isnull().sum()

1

In [32]:
# replace all the missing values with min
fitness_raw['SedentaryMinutes'].fillna(fitness_raw['SedentaryMinutes'].max(), 
                                       inplace = True)

# sum of missing values
fitness_raw['SedentaryMinutes'].isnull().sum()

0

#### Replace all missing values with 0 since they are numeric

In [42]:
# replace all missing values with 0 since they are numeric
# fitness_raw = fitness_raw.fillna(0)
# fitness_raw[fitness_raw.isna().any(axis = 1)]

fitness_raw.isnull().sum()

0

## 2.3 Analysing data in Pandas

### Indexing Pandas Series

In [1]:
# importing Pandas package
import pandas as pd

# create series with explicit labelling
class_list = pd.Series(['Thando', 'Divya', 'Simon',
                        'Peter', 'Noncedo', 'David',
                        'Eugene', 'Amaira', 'Monica', 'Richard'],
                       index = ['2021/0562/3215', '2021/2136/2132',
                        '2021/0021/5987', '2021/3165/0468',
                        '2021/0132/5496', '2021/3698/1346',
                        '2021/0147/9632', '2021/6549/1324',
                        '2021/9513/3579', '2021/3491/7916'])

class_list

2021/0562/3215     Thando
2021/2136/2132      Divya
2021/0021/5987      Simon
2021/3165/0468      Peter
2021/0132/5496    Noncedo
2021/3698/1346      David
2021/0147/9632     Eugene
2021/6549/1324     Amaira
2021/9513/3579     Monica
2021/3491/7916    Richard
dtype: object

### Pandas Series: Indexing

In [2]:
# determine the values
print(class_list.values)

# determine the index
print(class_list.index)

['Thando' 'Divya' 'Simon' 'Peter' 'Noncedo' 'David' 'Eugene' 'Amaira'
 'Monica' 'Richard']
Index(['2021/0562/3215', '2021/2136/2132', '2021/0021/5987', '2021/3165/0468',
       '2021/0132/5496', '2021/3698/1346', '2021/0147/9632', '2021/6549/1324',
       '2021/9513/3579', '2021/3491/7916'],
      dtype='object')

In [3]:
# retrieve values with an index
class_list['2021/2136/2132']

'Divya'

### Accessing values using indexes (default index or explicit index)

In [6]:
# separate with comma
print(class_list['2021/2136/2132'], class_list['2021/3165/0468'], class_list['2021/3491/7916'])

# write as one code snippet
print(class_list[['2021/2136/2132', '2021/3165/0468', '2021/3491/7916']])

Divya Peter Richard
2021/2136/2132      Divya
2021/3165/0468      Peter
2021/3491/7916    Richard
dtype: object

### Indexing a DataFrame

In [7]:
# create a dictionary
# import Pandas if it is a new session
import pandas as pd

raw_data = {'Name' : ['Thando Sinuka', 'Divya Patterson',
                    'Simon de Wit', 'Peter Black',
                    'Noncedo Dlamini', 'David Ackerman',
                    'Eugene du Toit', 'Amaira Patteri',
                    'Monica Le Blanc', 'Richard Fortress'],
           'Age' : [29, 26, 25, 23, 30, 35, 25, 27, 24, 32],
           'Qualification' : ['PhD', 'MSc', 'MBA', 'BSc',
                             'MCom', 'BCom', 'PhD', 'MBA',
                             'MCom', 'BCom'],
           'Country' : ['South Africa', 'Singapore', 'United Kingdom',
                       'Australia', 'Lesotho', 'United Kingdom',
                       'Canada', 'India', 'France', 'Canada']}

students = pd.DataFrame(raw_data)

students

               Name  Age Qualification         Country
0     Thando Sinuka   29           PhD    South Africa
1   Divya Patterson   26           MSc       Singapore
2      Simon de Wit   25           MBA  United Kingdom
3       Peter Black   23           BSc       Australia
4   Noncedo Dlamini   30          MCom         Lesotho
5    David Ackerman   35          BCom  United Kingdom
6    Eugene du Toit   25           PhD          Canada
7    Amaira Patteri   27           MBA           India
8   Monica Le Blanc   24          MCom          France
9  Richard Fortress   32          BCom          Canada

### Specifying the row labels

In [8]:
# create the data for the DataFrame
raw_data = {'Name':['Thando Sinuka', 'Divya Patterson',
                    'Simon De Wit', 'Peter Black',
                    'Noncedo Dlamini', 'David Ackerman',
                    'Eugene du Toit', 'Amaira Patteri',
                    'Monica Le Blanc', 'Richard Fortress'],
            'Age':[29, 26, 25, 23, 30, 35, 25, 27, 24, 32],
            'Qualification':['PhD', 'MSc', 'MBA', 'BSc',
                             'MCom', 'BCom', 'PhD', 'MBA', 
                             'MCom', 'BCom'],
            'Country':['South Africa', 'Singapore', 'United Kingdom',
                       'Australia', 'Lesotho', 'United Kingdom',
                       'Canada', 'India', 'France', 'Canada']}

# specify the row_lables
row_labels = ['2021/0562/3215', '2021/2136/2132',
              '2021/0021/5987', '2021/3165/0468',
              '2021/0132/5496', '2021/3698/1346',
              '2021/0147/9632', '2021/6549/1324',
              '2021/9513/3579', '2021/3491/7916']

# specify the column names
students_updated = pd.DataFrame(raw_data, columns = ['Name', 'Age', 'Qualification',
                                            'Country', 'Test 1', 'Tutorial 1',
                                            'Test 2', 'Tutorial 2', 'Test 3',
                                            'Tutorial 3', 'Final mark', 'Pass'],
                                # specify index = row_labels
                               index = row_labels)

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,Test 3,Tutorial 3,Final mark,Pass
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Changing data in a particular column

In [11]:
# all students the same mark
students_updated['Test 1'] = 80

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,Test 3,Tutorial 3,Final mark,Pass
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
students_updated['Test 1'] = [82, 90, 75, 70, 88, 65, 72, 76, 85, 68]

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,Test 3,Tutorial 3,Final mark,Pass
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
students_updated['Tutorial 1'] = [80, 75, 79, 69, 82, 68, 90, 84, 83, 79]

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,Test 3,Tutorial 3,Final mark,Pass
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,NaN,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,NaN,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,NaN,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,NaN,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,NaN,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,NaN,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,NaN,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,NaN,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,NaN,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,NaN,NaN,NaN,NaN,NaN

### Indexing: Retrieving columns from a DataFrame

In [22]:
# option 1
print(students_updated [['Test 1', 'Tutorial 1']])

# option 2
print(students_updated.iloc[:, 4:6])

                Test 1  Tutorial 1
2021/0562/3215      82          80
2021/2136/2132      90          75
2021/0021/5987      75          79
2021/3165/0468      70          69
2021/0132/5496      88          82
2021/3698/1346      65          68
2021/0147/9632      72          90
2021/6549/1324      76          84
2021/9513/3579      85          83
2021/3491/7916      68          79
                Test 1  Tutorial 1
2021/0562/3215      82          80
2021/2136/2132      90          75
2021/0021/5987      75          79
2021/3165/0468      70          69
2021/0132/5496      88          82
2021/3698/1346      65          68
2021/0147/9632      72          90
2021/6549/1324      76          84
2021/9513/3579      85          83
2021/3491/7916      68          79

### Indexing: Retrieving rows from a DataFrame

In [23]:
#option 1
print(students_updated.loc['2021/2136/2132'])

#option 2
Divya = students_updated.iloc[1]
print(Divya)

Name             Divya Patterson
Age                           26
Qualification                MSc
Country                Singapore
Test 1                        90
Tutorial 1                    75
Test 2                       NaN
Tutorial 2                   NaN
Test 3                       NaN
Tutorial 3                   NaN
Final mark                   NaN
Pass                         NaN
Name: 2021/2136/2132, dtype: object
Name             Divya Patterson
Age                           26
Qualification                MSc
Country                Singapore
Test 1                        90
Tutorial 1                    75
Test 2                       NaN
Tutorial 2                   NaN
Test 3                       NaN
Tutorial 3                   NaN
Final mark                   NaN
Pass                         NaN
Name: 2021/2136/2132, dtype: object

### Mapping values

In [24]:
# students tutorial 2 mark
students_updated['Tutorial 2'] = [80, 75, 79, 69, 82, 68, 90, 84, 83, 79]

# map method on tut 2
# create new series
tut_2 = {80:80, 75:75, 79:76, 69:74, 82:80, 68:75,
         90:80, 84:84, 83:81, 79:80}

students_updated['tut_2'] = students_updated['Tutorial 2'].map(tut_2)

# reorder columns
students_updated = students_updated [['Name', 'Age', 'Qualification', 
                                     'Country', 'Test 1', 'Tutorial 1',
                                     'Test 2', 'Tutorial 2', 'tut_2', 
                                     'Test 3', 'Tutorial 3', 'Final mark',
                                     'Pass']]

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,80,80,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,82,80,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,90,80,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,84,84,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,83,81,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,79,80,NaN,NaN,NaN,NaN

### Filtering values

#### Filter a Series

In [25]:
# create a class list with all the students 
class_list = pd.Series(['Thando', 'Divya', 'Simon',
                        'Peter', 'Noncedo', 'David',
                        'Eugene', 'Amaira', 'Monica', 'Richard'],
                       index=['2021/0562/3215', '2021/2136/2132',
                              '2021/0021/5987', '2021/3165/0468',
                              '2021/0132/5496', '2021/3698/1346',
                              '2021/0147/9632', '2021/6549/1324',
                              '2021/9513/3579', '2021/3491/7916'])

class_list

# filter series
class_list [class_list != 'Divya']

2021/0562/3215     Thando
2021/0021/5987      Simon
2021/3165/0468      Peter
2021/0132/5496    Noncedo
2021/3698/1346      David
2021/0147/9632     Eugene
2021/6549/1324     Amaira
2021/9513/3579     Monica
2021/3491/7916    Richard
dtype: object

#### Filter a column from a DataFrame

In [26]:
# filter columns Tutorial 2 and tut_2
tuts_2 = students_updated [['Tutorial 2', 'tut_2']]

tuts_2

                Tutorial 2  tut_2
2021/0562/3215          80     80
2021/2136/2132          75     75
2021/0021/5987          79     80
2021/3165/0468          69     74
2021/0132/5496          82     80
2021/3698/1346          68     75
2021/0147/9632          90     80
2021/6549/1324          84     84
2021/9513/3579          83     81
2021/3491/7916          79     80

#### Filter rows from a DataFrame

In [28]:
# filter rows Tutorial 2 and tut_2
marks_adjusted = students_updated[students_updated['tut_2'] < 80]

marks_adjusted

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN

### Sorting data

#### Sorting a Series with index

In [29]:
# sort index
class_list.sort_index()

2021/0021/5987      Simon
2021/0132/5496    Noncedo
2021/0147/9632     Eugene
2021/0562/3215     Thando
2021/2136/2132      Divya
2021/3165/0468      Peter
2021/3491/7916    Richard
2021/3698/1346      David
2021/6549/1324     Amaira
2021/9513/3579     Monica
dtype: object

In [30]:
# sort index descending
class_list.sort_index(ascending = False)

2021/9513/3579     Monica
2021/6549/1324     Amaira
2021/3698/1346      David
2021/3491/7916    Richard
2021/3165/0468      Peter
2021/2136/2132      Divya
2021/0562/3215     Thando
2021/0147/9632     Eugene
2021/0132/5496    Noncedo
2021/0021/5987      Simon
dtype: object

#### Sort data: single column (ascending and descending)

In [32]:
#sorting: arranging the data in a certain order to derive better insights
students_updated.sort_values(by = 'Name', inplace = True)

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,84,84,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,90,80,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,83,81,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,82,80,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,80,80,NaN,NaN,NaN,NaN

In [33]:
#sorting descending
students_updated.sort_values(by = 'Name', inplace = True, ascending = False)

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,80,80,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,82,80,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,83,81,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,90,80,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,84,84,NaN,NaN,NaN,NaN

#### Sort data: multiple columns

In [35]:
#sorting using multiple columns
students_updated.sort_values(by = ['Test 1', 'Tutorial 1'], inplace = True)

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,90,80,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,84,84,NaN,NaN,NaN,NaN
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,80,80,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,83,81,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,82,80,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN

In [36]:
#sorting using multiple columns (descending)
students_updated.sort_values(by = ['Test 1', 'Tutorial 1'], inplace = True, ascending = False)

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,82,80,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,83,81,NaN,NaN,NaN,NaN
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,80,80,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,84,84,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,90,80,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN

### Descriptive statistics

In [ ]:
# describe() function
# Python will return the count (number of observations), mean, standard deviation, 
# minimum value, maximum value, and quartiles (Q1, Q3)

In [1]:
# count() method calculates the number of not-empty values and returns it as count

### Application of describe()

In [3]:
# prepare your workstation
import pandas as pd

# read CSV file from the current working directory
fitness = pd.read_csv("daily_activity.csv")

print(fitness.shape)

# descriptive statistics
fitness.describe()

(940, 15)

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
count,9.400000e+02,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000
mean,4.855407e+09,7637.910638,5.489702,5.475351,0.108171,1.502681,0.567543,3.340819,0.001606,21.164894,13.564894,192.812766,991.210638,2303.609574
std,2.424805e+09,5087.150742,3.924606,3.907276,0.619897,2.658941,0.883580,2.040655,0.007346,32.844803,19.987404,109.174700,301.267437,718.166862
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,3789.750000,2.620000,2.620000,0.000000,0.000000,0.000000,1.945000,0.000000,0.000000,0.000000,127.000000,729.750000,1828.500000
50%,4.445115e+09,7405.500000,5.245000,5.245000,0.000000,0.210000,0.240000,3.365000,0.000000,4.000000,6.000000,199.000000,1057.500000,2134.000000
75%,6.962181e+09,10727.000000,7.712500,7.710000,0.000000,2.052500,0.800000,4.782500,0.000000,32.000000,19.000000,264.000000,1229.500000,2793.250000
max,8.877689e+09,36019.000000,28.030001,28.030001,4.942142,21.920000,6.480000,10.710000,0.110000,210.000000,143.000000,518.000000,1440.000000,4900.000000

#### Maximum, minimum, and sum of a column

In [4]:
# max = Returns max of a column
print(fitness['TotalDistance'].max())

# min = Returns min of a column
print(fitness['TotalDistance'].min())

# sum = Returns sum of a column
print(fitness['TotalDistance'].sum())

28.0300006866455
0.0
5160.31999460049

In [5]:
# max = Returns max of a column
print(fitness['TotalSteps'].max())

# min = Returns min of a column
print(fitness['TotalSteps'].min())

# sum = Returns sum of a column
print(fitness['TotalSteps'].sum())

36019
0
7179636

In [6]:
# max = Returns max of a column
print(fitness['Calories'].max())

# min = Returns min of a column
print(fitness['Calories'].min())

# sum = Returns sum of a column
print(fitness['Calories'].sum())

4900
0
2165393

#### Interquartile range

In [7]:
q1 = fitness['TotalSteps'].quantile(0.25)

q3 = fitness['TotalSteps'].quantile(0.75)

iqr_TotalSteps = q3 - q1

iqr_TotalSteps

6937.25

In [8]:
q1 = fitness['Calories'].quantile(0.25)

q3 = fitness['Calories'].quantile(0.75)

iqr_Calories = q3 - q1

iqr_Calories

964.75

In [12]:
q10th_TotalSteps = fitness['TotalSteps'].quantile(0.1)

q90th_TotalSteps = fitness['TotalSteps'].quantile(0.9)

print(q10th_TotalSteps)

print(q90th_TotalSteps)

253.00000000000006
13959.600000000002

In [13]:
q10th_Calories = fitness['Calories'].quantile(0.1)

q90th_Calories = fitness['Calories'].quantile(0.9)

print(q10th_Calories)

print(q90th_Calories)

1496.0
3230.000000000001

#### Variance

In [17]:
# variance of data frame
print(fitness.var())

# variance of total distance
print(fitness['TotalDistance'].var())

# variance of total steps
print(fitness['TotalSteps'].var())

# variance of calories
print(fitness['Calories'].var())

Id                          5.879682e+18
TotalSteps                  2.587910e+07
TotalDistance               1.540253e+01
TrackerDistance             1.526681e+01
LoggedActivitiesDistance    3.842717e-01
VeryActiveDistance          7.069968e+00
ModeratelyActiveDistance    7.807142e-01
LightActiveDistance         4.164274e+00
SedentaryActiveDistance     5.396631e-05
VeryActiveMinutes           1.078781e+03
FairlyActiveMinutes         3.994963e+02
LightlyActiveMinutes        1.191912e+04
SedentaryMinutes            9.076207e+04
Calories                    5.157636e+05
dtype: float64
15.40253153801325
25879102.669322263
515763.6418677636

C:\Users\richa\AppData\Local\Temp/ipykernel_16456/3427272418.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(fitness.var())

### Normalise a data set

In [18]:
# prepare your workstation
import pandas as pd

# read CSV file from the current working directory
fitness = pd.read_csv('daily_activity.csv')
fitness.shape

(940, 15)

#### Maximum absolute scaling

In [19]:
# values of total distance before scaling
fitness['TotalDistance']

0       8.500000
1       6.970000
2       6.740000
3       6.280000
4       8.160000
         ...
935     8.110000
936    18.250000
937     8.150000
938    19.559999
939     6.120000
Name: TotalDistance, Length: 940, dtype: float64

In [22]:
# apply the maximum absolute scaling in Pandas using the .abs() and .max() methods
def max_abs_scaling(df):
    # copy the dataframe
    df_scaled = df.copy()
    if isinstance(df_scaled, pd.DataFrame):
         # apply maximum absolute scaling
        for column in df_scaled.columns:
            df_scaled[column] = df_scaled[column] / df_scaled[column].abs().max()
    else:
        df_scaled = df_scaled / df_scaled.abs().max()
        
    return df_scaled    

# call the maximum_absolute_scaling function
fitness['TotalDistance'] = max_abs_scaling(fitness['TotalDistance'])

# call the new values of the total distance column
fitness['TotalDistance']

0      0.303247
1      0.248662
2      0.240457
3      0.224046
4      0.291117
         ...
935    0.289333
936    0.651088
937    0.290760
938    0.697824
939    0.218337
Name: TotalDistance, Length: 940, dtype: float64

#### Min-max feature scaling

In [23]:
# values of sedentary minutes before
fitness['SedentaryMinutes']

0       728
1       776
2      1218
3       726
4       773
       ...
935    1174
936    1131
937    1187
938    1127
939     770
Name: SedentaryMinutes, Length: 940, dtype: int64

In [39]:
# apply the min-max scaling in Pandas using the .min() and .max() methods
def min_max_scaling(df):
    # copy the data frame
    df_scaled = df.copy()
    # apply min-max scaling
    if isinstance(df_scaled, pd.DataFrame):
        for column in df_scaled.columns:
            df_scaled[column] = (
                df_scaled[column] - df_scaled[column].min()) / (
                df_scaled[column].max() - df_scaled[column].min())
    else:
        df_scaled = (df_scaled - df_scaled.min()) / (df_scaled.max() - df_scaled.min())
    
        return df_scaled
    
# call the call the min_max_scaling function
fitness['SedentaryMinutes_new'] = min_max_scaling(fitness['SedentaryMinutes'])

# call the new values of the sedentary minutes column
fitness['SedentaryMinutes_new']

0      0.505556
1      0.538889
2      0.845833
3      0.504167
4      0.536806
         ...
935    0.815278
936    0.785417
937    0.824306
938    0.782639
939    0.534722
Name: SedentaryMinutes_new, Length: 940, dtype: float64

In [42]:
# start with before
print(fitness['TrackerDistance'])

#Implementation of Maximum absolute scaling
# apply the maximum absolute scaling in Pandas using the .abs() and .max() methods
def max_abs_scaling(df):
    # copy the data frame
    df_scaled = df.copy()
    if isinstance(df_scaled, pd.DataFrame):
        # apply maximum absolute scaling
        for column in df_scaled.columns:
            df_scaled[column] = df_scaled[column] / df_scaled[column].abs().max()
    else:
        df_scaled = df_scaled / df_scaled.abs().max()
        
    return df_scaled

# call the maximum_absolute_scaling function
fitness['TrackerDistance'] = max_abs_scaling(fitness['TrackerDistance'])

fitness['TrackerDistance']

0       8.500000
1       6.970000
2       6.740000
3       6.280000
4       8.160000
         ...
935     8.110000
936    18.250000
937     8.150000
938    19.559999
939     6.120000
Name: TrackerDistance, Length: 940, dtype: float64

0      0.303247
1      0.248662
2      0.240457
3      0.224046
4      0.291117
         ...
935    0.289333
936    0.651088
937    0.290760
938    0.697824
939    0.218337
Name: TrackerDistance, Length: 940, dtype: float64

In [44]:
# start with before
print(fitness['VeryActiveDistance'])

#Implementation of Maximum absolute scaling
# apply the maximum absolute scaling in Pandas using the .abs() and .max() methods
def max_abs_scaling(df):
    # copy the data frame
    df_scaled = df.copy()
    if isinstance(df_scaled, pd.DataFrame):
        # apply maximum absolute scaling
        for column in df_scaled.columns:
            df_scaled[column] = df_scaled[column] / df_scaled[column].abs().max()
    else:
        df_scaled = df_scaled / df_scaled.abs().max()
        
    return df_scaled

# call the maximum_absolute_scaling function
fitness['VeryActiveDistance'] = max_abs_scaling(fitness['VeryActiveDistance'])

fitness['VeryActiveDistance']

0       1.88
1       1.57
2       2.44
3       2.14
4       2.71
       ...
935     1.08
936    11.10
937     1.35
938    13.22
939     1.82
Name: VeryActiveDistance, Length: 940, dtype: float64

0      0.085766
1      0.071624
2      0.111314
3      0.097628
4      0.123631
         ...
935    0.049270
936    0.506387
937    0.061588
938    0.603102
939    0.083029
Name: VeryActiveDistance, Length: 940, dtype: float64

In [52]:
# start with before
print(fitness['LightlyActiveMinutes'])

# apply the min-max scaling in Pandas using the .min() and .max() methods
def min_max_scaling(df):
    # copy the data frame
    df_scaled = df.copy()
    if isinstance(df_scaled, pd.DataFrame):
        # apply min-max scaling
        for column in df_scaled.columns:
            df_scaled[column] = (
            df_scaled[column] - df_scaled[column].min()) / (
            df_scaled[column].max() - df_scaled[column].min())
    else:
        df_scaled = (df_scaled - df_scaled.min()) / (df_scaled.max() - df_scaled.min())
                     
    return df_scaled    
                     
# call the call the min_max_scaling function
fitness['LightlyActiveMinutes_new'] = min_max_scaling(fitness['LightlyActiveMinutes'])
                     
fitness['LightlyActiveMinutes_new']

0      328
1      217
2      181
3      209
4      221
      ...
935    245
936    217
937    224
938    213
939    137
Name: LightlyActiveMinutes, Length: 940, dtype: int64

0      0.633205
1      0.418919
2      0.349421
3      0.403475
4      0.426641
         ...
935    0.472973
936    0.418919
937    0.432432
938    0.411197
939    0.264479
Name: LightlyActiveMinutes_new, Length: 940, dtype: float64

In [54]:
# start with before
print(fitness['VeryActiveMinutes'])

# apply the min-max scaling in Pandas using the .min() and .max() methods
def min_max_scaling(df):
    # copy the data frame
    df_scaled = df.copy()
    if isinstance(df_scaled, pd.DataFrame):
        # apply min-max scaling
        for column in df_scaled.columns:
            df_scaled[column] = (
            df_scaled[column] - df_scaled[column].min()) / (
            df_scaled[column].max() - df_scaled[column].min())
    else:
        df_scaled = (df_scaled - df_scaled.min()) / (df_scaled.max() - df_scaled.min())
                     
    return df_scaled    
                     
# call the call the min_max_scaling function
fitness['VeryActiveMinutes_new'] = min_max_scaling(fitness['VeryActiveMinutes'])
                     
fitness['VeryActiveMinutes_new']

0      25
1      21
2      30
3      29
4      36
       ..
935    17
936    73
937    18
938    88
939    23
Name: VeryActiveMinutes, Length: 940, dtype: int64

0      0.119048
1      0.100000
2      0.142857
3      0.138095
4      0.171429
         ...
935    0.080952
936    0.347619
937    0.085714
938    0.419048
939    0.109524
Name: VeryActiveMinutes_new, Length: 940, dtype: float64