### movies.xlsx

In [8]:
import pandas as pd

movies = pd.read_excel("movies.xlsx")

movies

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [11]:
print(movies.shape)
print(movies.head())
print(movies.tail())

(16744, 10)
                            Title  Year  Age  IMDb  Rotten Tomatoes  \
0                       Inception  2010  13+   8.8             0.87
1                      The Matrix  1999  18+   8.7             0.87
2          Avengers: Infinity War  2018  13+   8.5             0.84
3              Back to the Future  1985   7+   8.5             0.96
4  The Good, the Bad and the Ugly  1966  18+   8.8             0.97

                        Directors                            Genres  \
0               Christopher Nolan  Action,Adventure,Sci-Fi,Thriller
1  Lana Wachowski,Lilly Wachowski                     Action,Sci-Fi
2         Anthony Russo,Joe Russo           Action,Adventure,Sci-Fi
3                 Robert Zemeckis           Adventure,Comedy,Sci-Fi
4                    Sergio Leone                           Western

                        Country                 Language  Runtime
0  United States,United Kingdom  English,Japanese,French    148.0
1                 United States                  English    136.0
2                 United States                  English    149.0
3                 United States                  English    116.0
4      Italy,Spain,West Germany                  Italian    161.0
                           Title  Year  Age  IMDb  Rotten Tomatoes  \
16739  The Ghosts of Buxley Hall  1980  NaN   6.2              NaN
16740             The Poof Point  2001   7+   4.7              NaN
16741      Sharks of Lost Island  2013  NaN   5.7              NaN
16742         Man Among Cheetahs  2017  NaN   6.6              NaN
16743           In Beaver Valley  1950  NaN   NaN              NaN

                  Directors                        Genres        Country  \
16739          Bruce Bilson  Comedy,Family,Fantasy,Horror  United States
16740           Neal Israel          Comedy,Family,Sci-Fi  United States
16741          Neil Gelinas                   Documentary  United States
16742  Richard Slater-Jones                   Documentary  United States
16743           James Algar      Documentary,Short,Family  United States

      Language  Runtime
16739  English    120.0
16740  English     90.0
16741  English      NaN
16742  English      NaN
16743  English     32.0

In [10]:
print(movies.dtypes)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

### ott.csv

In [5]:
ott = pd.read_csv("ott.csv")

ott

          ID  Netflix  Hulu  Prime Video  Disney+
0          1        0     0            1        0
1          2        0     1            0        0
2          3        0     0            1        0
3          4        1     0            0        0
4          5        0     0            1        0
...      ...      ...   ...          ...      ...
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

[16744 rows x 5 columns]

In [12]:
print(ott.shape)
print(ott.head())
print(ott.tail())

(16744, 5)
   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0
          ID  Netflix  Hulu  Prime Video  Disney+
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

In [13]:
print(ott.dtypes)

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object